.username{
  font-size: 15px;
  font-weight: bolder;
  color: #BA697B;
}
.msgText{
  font-size: 12px;
}
.buttons{
  float:right;
  margin-right: 5px;
}
.table tr:nth-child(odd){
  background-color: #cce2ee;
}
.table tr:nth-child(even){
  background-color: #f8f3ea;
}
tr div{
  padding-left: 10px;
}
.defWord{
  padding: 10px;
  font-size: 18px;
}
li {
  list-style:none;
}
table{
  margin-top: 10px;
  border-radius: 10px !important;
}

.leftcolor{
  background-color: #cce2ee;
}
.rightcolor{
  background-color: #f8f3ea;
}
.left{
  float: left;
}
.right{
  float: right;
}
.chatDiv{
  width: 100%;
  background-color: purple;
}

.msgDiv{
  margin-top:10px;
  height: 520px;
  overflow: auto;
}

.tableScroll{
  height: 600px;
  overflow: auto;
}

.btnSize{
  height: 143%
}
